@import "./variable/variable";
.information_section {
    padding-block-end: 106px;
}

.carve-information {
    font-size: 18px;
    line-height: 32px;
    color: $default-black-color;
}

.experience_information {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: normal;
    padding-block-start: 31px;
    padding-block-end: 31px;
}

@media (min-width: 1114px) {
    .article_information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .carve_details {
        padding-block-start: 87px;
        padding-block-end: 76px;
    }
    .beauty_section_text {
        h2 {
            max-width: 457px;
        }
        p {
            max-width: 585px;
            margin: 0;
            padding-block-start: 61px;
            padding-block-end: 61px;
        }
    }
}