@import "./variables/variables";
:root {
    --article-text-verticle-padd: 31px;
    --beauty-text-verticle-padd: 61px;
}

.information_section {
    padding-bottom: 106px;
}

.carve-information {
    @include black-article-paragraph;
}

.beauty_section_text p {
    margin: 0;
    padding-top: 65px;
    padding-bottom: 82px;
}

.experience_information {
    @include gray-paragraph;
    mix-blend-mode: normal;
    padding-top: var(--article-text-verticle-padd);
    padding-bottom: var(--article-text-verticle-padd);
}

@media (min-width: 1114px) {
    .article_information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .carve_details {
        padding-top: 87px;
        padding-bottom: 76px;
    }
    .beauty_section_text {
        h2 {
            max-width: 457px;
        }
        p {
            max-width: 585px;
            margin: 0;
            padding-top: var(--beauty-text-verticle-padd);
            padding-bottom: var(--beauty-text-verticle-padd);
        }
    }
}