@import "./variable/variable";
:root {
    --btn-padding-vertical-start: 13px;
    --btn-padding-vertical-end: 11px;
}

.subscribe_button {
    background-color: $bg-color-blue;
    text-align: center;
    border-radius: 5px;
    width: 170px;
    a {
        font-size: $small-link-font;
        line-height: $small-link-height;
        color: $default-white-color;
        padding-block-start: var(--btn-padding-vertical-start);
        padding-block-end: var(--btn-padding-vertical-end);
        display: block;
    }
}

@media (min-width: 1114px) {
    .subscribe_button {
        margin-inline-start: 54px;
        margin-block-end: 0;
    }
}