@import "./variables/variables";
:root {
    --btn-padding-vertical-start: 13px;
    --btn-padding-vertical-end: 11px;
}

.subscribe_button {
    background-color: $bg-color-blue;
    text-align: center;
    border-radius: 5px;
    width: 170px;
    a {
        font-size: $small-link-font;
        line-height: $small-link-height;
        color: $default-white-color;
        padding-top: var(--btn-padding-vertical-start);
        padding-bottom: var(--btn-padding-vertical-end);
        display: block;
    }
}

.subscribe_button:hover {
    background-color: #0000CD; // personal value
    transition: background-color 0.5s;
}

@media (min-width: 1114px) {
    .subscribe_button {
        margin-left: 54px;
        margin-bottom: 0;
    }
}