@import "./variables/variables";
.photo_details {
    padding-top: 92px;
    padding-bottom: 75px;
}

.detail_list_container {
    display: grid;
    row-gap: 40px;
    column-gap: 106px;
    li:nth-of-type(1) {
        grid-row-start: 1;
    }
    li:nth-of-type(2) {
        grid-column-start: 2;
    }
    small,
    p {
        font-size: $small-link-font;
        line-height: $small-link-height;
    }
    small {
        color: $default-gray-color;
    }
    p {
        color: $default-black-color;
        font-family: 'Dm Sans Bold';
    }
    b {
        font-family: 'Dm Sans Italic';
    }
}

@media (min-width: 1114px) {
    .photo_details {
        padding-top: 89px;
        padding-bottom: 206;
    }
}