@import "./variables/variables";
body {
    font-family: 'Dm Sans';
    background-color: rgba(67, 76, 204, 0.05);
}

div.container {
    padding-right: $section-padding-horizontal;
    padding-left: $section-padding-horizontal;
}

@media (min-width: 1114px) {
    div.container {
        padding: 0;
        @include style-container;
    }
}