@import "./variable/variable";
body {
    font-family: 'dm-sans-regular';
    background-color: rgba(67, 76, 204, 0.05);
}

div.container {
    padding-inline-end: $section-padding-horizontal;
    padding-inline-start: $section-padding-horizontal;
}

@media (min-width: 1114px) {
    div.container {
        padding: 0;
        @include style-container;
    }
}