@import "./variable/variable";
body {
    font-family: 'dm-sans-regular';
}

div.container {
    padding-inline-end: $section-padding-horizontal;
    padding-inline-start: $section-padding-horizontal;
}

ul {
    @include reset-list;
}

a {
    @include style-anchor;
}