        @import "./variables/variables";
        div.photograph_experience {
            img {
                width: 70px;
                height: 48px;
            }
        }
        
        .list_primary {
            display: flex;
            flex-direction: column;
            >li:nth-of-type(2) {
                padding-top: 26px;
            }
        }
        
        ul.list_secondary {
            display: flex;
            flex-direction: row;
            li:nth-of-type(2) p {
                margin: 0;
                padding-left: 30px;
            }
        }
        
        .place {
            @include gray-paragraph;
        }
        
        .date {
            font-family: 'dm-sans-bold';
            font-size: $small-link-font;
            line-height: $small-link-height;
            color: $default-black-color;
        }
        
        @media (min-width: 1114px) {
            .place {
                white-space: nowrap;
            }
        }