@font-face {
    font-family: 'Dm Sans';
    font-weight: 400;
    font-style: normal;
    src: local('dm-sans-regular'), url(../fonts/dm_sans_400.woff2) format('woff2'), url(../fonts/dm_sans_400.woff) format('woff');
}

@font-face {
    font-family: 'Dm Sans SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('dm-sans-bold'), url(../fonts/dm-sans-600.woff2) format('woff2'), url(../fonts/dm-sans-600.woff) format('woff');
}

@font-face {
    font-family: 'Dm Sans Bold';
    font-weight: 700;
    font-style: normal;
    src: local('dm-sans-bold'), url(../fonts/dm_sans_bold) format('woff2'), url(../fonts/dm_sans_bold.woff) format('woff');
}

@font-face {
    font-family: 'Dm Serif Display';
    font-weight: 400;
    font-style: normal;
    src: local('dm-serif-display-400'), url(../fonts/dm-serif-dispaly-400.woff2) format('woff2'), url(../fonts/dm-serif-display-400.woff) format('woff');
}

@font-face {
    font-family: 'Dm Sans Italic';
    font-weight: 400;
    font-style: normal;
    src: local('dm_sans_400_italic'), url(../fonts/dm_sans_400_italic.woff2) format('woff2'), url(../fonts/dm_sans_400_italic.woff) format('woff');
}