@import "./variables/variables";
body>footer {
    background-color: $default-white-color;
    border-bottom: 1px solid rgba(75, 70, 70, 0.1);
    >div:nth-of-type(1) {
        padding-block-start: 75px;
        padding-block-end: 65px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    >div:nth-of-type(2) {
        padding-block-end: 28px;
        p {
            @include gray-paragraph;
        }
    }
}

.photograph_introduction {
    h2 {
        @include main-heading;
    }
    p {
        @include gray-paragraph;
        margin: 0;
        padding-block-start: 22px;
        padding-block-end: calc(78px / 2);
    }
}

@media (min-width:1114px) {
    body>footer {
        >div:nth-of-type(1) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 130px;
        }
        >div:nth-of-type(2) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-block-end: 75px;
        }
    }
}