@import "./variables/variables";
body header>div {
    position: relative;
}

body>header nav {
    display: none;
}

.header_links {
    display: flex;
    flex-direction: column;
    margin: 0;
    a {
        color: $default-white-color;
        font-size: $small-link-font;
        line-height: $small-link-height;
    }
    a:hover {
        @include hover-link-style;
    }
}

header nav {
    padding: 1rem;
    background-color: gray;
    position: absolute;
    z-index: 3;
    border-radius: .5rem;
    top: 2%;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 200px;
    transform: translateX(-110%);
    transition: transform 0.3s;
}

body>[type="checkbox"] {
    display: none;
}

body>[type="checkbox"]:checked~header nav {
    display: block;
    content: '';
    left: 5%;
    top: 0;
    width: 100px;
    height: 500px;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transform: translateX(-20%) translateY(10%);
    transition: transform 0.3s;
}

@media (min-width: 1114px) {
    body>header nav {
        padding: 0;
        background: none;
        box-shadow: none;
        transform: none;
        display: block;
        position: relative;
    }
    header nav {
        width: auto;
        height: auto; // override the width and height values whic were set on the mobile 
    }
    header label {
        visibility: hidden;
    }
    .header_links {
        flex-direction: row;
        li {
            margin-left: 26px;
        }
    }
}