@import "./variables/variables";
:root {
    --header-padd-vertical: 16px;
}

body>header {
    background-color: $bg-color-blue;
    padding-bottom: var(--header-padd-vertical);
    padding-top: var(--header-padd-vertical);
}

header h1 {
    @include main-heading;
    margin: 0;
}

header h1 a {
    color: $default-white-color;
    @include style-anchor;
}

body>header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon_menu img {
    width: 20px;
    height: 16px;
    cursor: pointer;
}

@media(min-width:1114px) {
    header h1 {
        @include bigger-main-heading;
    }
}