@import "./variables/variables";
body>header {
    position: relative;
}

header nav {
    padding: 1rem;
    background-color: gray;
    position: absolute;
    border-radius: .5rem;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 500px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    transform: translateX(-120%);
    transition: transform 0.3s;
}

body>[type="checkbox"] {
    display: none;
}

body>[type="checkbox"]:checked~header nav {
    display: block;
    content: '';
    left: 0;
    top: 0;
    transform: translateX(-10%);
    transition: transform 0.3s;
}

.navigation_container {
    display: flex;
    flex-direction: column;
    li {
        padding-block-start: 20px;
        padding-inline-start: 20px; //imagined values
    }
    margin: 0;
    a {
        color: $default-white-color;
        font-size: $small-link-font;
        line-height: $small-link-height;
    }
    a:hover {
        @include hover-link-style;
    }
}

@media (min-width: 1114px) {
    header nav {
        padding: 0;
        background: none;
        box-shadow: none;
        transform: none;
        display: block;
        position: relative;
        box-shadow: none;
    }
    header nav {
        width: auto;
        height: auto; // override the width and height values whic were set on the mobile 
    }
    header label {
        display: none;
    }
    .navigation_container {
        flex-direction: row;
        li {
            margin-inline-start: 26px;
            padding: 0;
        }
    }
}