@import "./variables/variables";
.icon_list_container {
    display: flex;
    flex-direction: row;
    span {
        display: none;
    }
    li:not(:first-child) {
        margin-inline-start: 18px;
    }
    li a svg:hover {
        fill: #0000CD;
    }
}