@import "./variables/variables";
.beauty_section_pictures {
    .big_carve {
        width: 100%;
    }
    img {
        border-radius: $img-border-radious;
    }
}

.image_container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    li:not(:nth-of-type(1)) {
        margin-inline-start: 9px;
    }
    li img {
        width: 137px;
    }
}