@import "./variable/variable";
.section_photograph {
    background-color: $default-white-color;
    >div {
        padding-block-start: 75px;
        padding-block-end: 65px;
    }
}

.photograph_introduction {
    h2 {
        @include main-heading;
    }
    p {
        font-size: $small-link-font;
        line-height: $small-link-height;
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
        padding-block-start: 22px;
        padding-block-end: calc(78px / 2);
    }
}