@import "./variable/variable";
.section_photograph {
    background-color: $default-white-color;
    >div {
        padding-block-start: 75px;
        padding-block-end: 65px;
    }
}

.photograph_introduction {
    h2 {
        @include main-heading;
    }
    p {
        @include gray-paragraph;
        margin: 0;
        padding-block-start: 22px;
        padding-block-end: calc(78px / 2);
    }
}