@import "./variables/variables";
.button_container p {
    padding-top: 31px;
    padding-bottom: 61px;
    a {
        @include gray-paragraph;
    }
    a:hover {
        @include hover-link-style;
    }
}