@import "./variables/variables";
:root {
    --btn-padding-vertical-start: 13px;
    --btn-padding-vertical-end: 11px;
}

.section_subscribe {
    background-color: #FFDD78;
    >div {
        padding-top: 63px;
        padding-bottom: 54px;
    }
}

.small_heading {
    font-size: $small-link-font;
    line-height: $small-link-height;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $default-black-color;
}

div.subscribe {
    padding-top: 44px;
}

@media (min-width: 1114px) {
    .section_subscribe {
        >div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: calc(218px - 16px);
            padding-top: calc(120px - 44px);
            padding-bottom: 104px;
            h2 {
                width: 382px;
            }
        }
    }
    div.subscribe {
        // padding-top: 132px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            li:nth-of-type(2) {
                padding-top: 8px;
            }
        }
    }
}