@import "./variables/variables";
.section_subscribe {
    background-color: #FFDD78;
    >div {
        padding-top: 63px;
        padding-bottom: 54px;
    }
}

.small_heading {
    font-size: $small-link-font;
    line-height: $small-link-height;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $default-black-color;
    margin: 0;
    padding-bottom: 19px;
}

div.subscribe {
    padding-top: 44px;
    input {
        margin-bottom: 16px;
    }
}

@media (min-width: 1114px) {
    .section_subscribe {
        .section_subscribe__wrapper {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            div.subscribe {
                padding-top: 0;
            }
            h2 {
                max-width: 382px;
            }
        }
    }
    div.subscribe {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}