@import "./variable/variable";
:root {
    --btn-padding-vertical-start: 13px;
    --btn-padding-vertical-end: 11px;
}

.section_subscribe {
    background-color: #FFDD78;
    >div {
        padding-block-start: 63px;
        padding-block-end: 54px;
    }
}

.small_heading {
    font-size: $small-link-font;
    line-height: $small-link-height;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $default-black-color;
}

div.subscribe {
    padding-block-start: 44px;
}

@media (min-width: 1114px) {
    .section_subscribe {
        >div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: calc(218px - 16px);
        }
    }
    div.subscribe {
        padding-block-start: 132px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            li:nth-of-type(2) {
                padding-block-start: 8px;
            }
        }
    }
}