@import "./variables/variables";
:root {
    --padding-container-value: 78px;
    --padding-list-value: 7px;
}

div.photograph_more_links {
    padding-block-start: var(--padding-container-value);
    padding-block-end: var(--padding-container-value);
    ul li {
        padding-block-start: var(--padding-list-value);
        a {
            @include gray-paragraph;
        }
        a:hover {
            @include hover-link-style;
        }
    }
    ul li:nth-of-type(1) {
        font-family: 'dm-sans-bold';
        padding-block-end: calc(23px - var(--padding-list-value));
        a {
            color: $default-black-color;
        }
    }
}

@media (min-width:1114px) {
    div.photograph_more_links {
        padding: 0;
        li:nth-of-type(1) {
            padding-block-start: 0;
        }
    }
}