$bg-color-blue: #434CCC;
$section-padding-horizontal: 14px;
$heading-font-family:'Dm Serif Display';
$default-white-color: #ffffff;
$small-link-font: 16px;
$small-link-height:24px;
$default-black-color:#000000;
$default-gray-color:rgba(0, 0, 0, 0.5);
$img-border-radious:0.5rem;
@mixin style-container {
    max-width: 1114px;
    margin: auto;
}

@mixin style-anchor {
    text-decoration: none;
}

@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin style-h2 {
    font-family: $heading-font-family;
    color: #000000;
    font-size: 40px;
    line-height: 48px;
    font-weight: normal;
    margin: 0;
}

@mixin main-heading {
    font-family: $heading-font-family;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    text-transform: uppercase;
}

@mixin bigger-main-heading {
    font-size: 40px;
    line-height: 48px;
}

@mixin gray-paragraph {
    font-size: $small-link-font;
    line-height: $small-link-height;
    color: rgba(0, 0, 0, 0.5);
}

@mixin black-article-paragraph {
    font-size: 18px;
    line-height: 32px;
    color: $default-black-color;
}

@mixin hover-link-style {
    color: $default-black-color;
    font-family: 'Dm Sans Bold';
    transition: color 1s;
}

@mixin small-black-text {
    font-family: 'Dm Sans Bold';
    font-size: 12px;
    line-height: 24px;
    color: $default-black-color;
}