@font-face {
  font-family: 'dm-sans-regular';
  font-weight: 400;
  font-style: normal;
  src: local("dm-sans-regular"), url(../fonts/dm_sans_400.woff) format("woff"), url(../fonts/dm_sans_400.woff2) format("woff2"); }

@font-face {
  font-family: 'dm-sans-bold';
  font-weight: 600;
  font-style: normal;
  src: local("dm-sans-bold"), url(../fonts/dm-sans-600.woff) format("woff"), url(../fonts/dm-sans-600.woff2) format("woff2"); }

@font-face {
  font-family: 'dm-serif-display-400';
  font-weight: normal;
  font-style: normal;
  src: local("dm-serif-display-400"), url(../fonts/dm-serif-display-400.woff) format("woff"), url(../fonts/dm-serif-dispaly-400.woff2) format("woff2"); }

@font-face {
  font-family: 'dm-sans-italic';
  font-weight: normal;
  font-style: italic;
  src: local("dm-sans-italic"), url(../fonts/dm-sans-italic.woff) format("woff"), url(../fonts/dm-sans-italic.woff2) format("woff2"); }

body {
  font-family: 'dm-sans-regular'; }

.container {
  padding-inline-end: 14px;
  padding-inline-start: 14px; }

:root {
  --header-padd-vertical: 16px; }

body > header {
  background-color: #434CCC;
  padding-block-end: var(--header-padd-vertical);
  padding-block-start: var(--header-padd-vertical); }

header h1 {
  font-family: "dm-serif-display-400";
  font-weight: normal;
  margin: 0;
  font-size: 24px;
  line-height: 32px; }

header h1 a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

body > header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.icon_menu img {
  width: 20px;
  height: 16px; }

body header > div {
  position: relative; }

body > header nav {
  display: none; }

header nav {
  padding: 1rem;
  background-color: #ffffff;
  position: absolute;
  z-index: 3;
  border-radius: .5rem;
  top: 2%;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 200px; }

body > [type="checkbox"] {
  display: none; }

body > [type="checkbox"]:checked ~ header nav {
  display: block;
  content: '';
  left: 10%;
  top: 30%;
  width: 250px;
  padding: 20px;
  z-index: 3;
  top: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  transform: translateX(-20%) translateY(30%); }
