@font-face {
  font-family: 'dm-sans-regular';
  font-weight: 400;
  font-style: normal;
  src: local("dm-sans-regular"), url(../fonts/dm_sans_400.woff) format("woff"), url(../fonts/dm_sans_400.woff2) format("woff2"); }

@font-face {
  font-family: 'dm-sans-bold';
  font-weight: 600;
  font-style: normal;
  src: local("dm-sans-bold"), url(../fonts/dm-sans-600.woff) format("woff"), url(../fonts/dm-sans-600.woff2) format("woff2"); }

@font-face {
  font-family: 'dm-serif-display-400';
  font-weight: 400;
  font-style: normal;
  src: local("dm-serif-display-400"), url(../fonts/dm-serif-display-400.woff) format("woff"), url(../fonts/dm-serif-dispaly-400.woff2) format("woff2"); }

@font-face {
  font-family: 'dm-sans-italic';
  font-weight: normal;
  font-style: italic;
  src: local("dm-sans-italic"), url(../fonts/dm-sans-italic.woff) format("woff"), url(../fonts/dm-sans-italic.woff2) format("woff2"); }

body {
  font-family: 'dm-sans-regular';
  background-color: rgba(67, 76, 204, 0.05); }

div.container {
  padding-inline-end: 14px;
  padding-inline-start: 14px; }

@media (min-width: 1114px) {
  div.container {
    padding: 0;
    max-width: 1114px;
    margin: auto; } }

:root {
  --header-padd-vertical: 16px; }

body > header {
  background-color: #434CCC;
  padding-block-end: var(--header-padd-vertical);
  padding-block-start: var(--header-padd-vertical); }

header h1 {
  font-family: "dm-serif-display-400";
  font-weight: normal;
  margin: 0;
  font-size: 24px;
  line-height: 32px; }

header h1 a {
  color: #ffffff;
  text-decoration: none; }

body > header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.icon_menu img {
  width: 20px;
  height: 16px; }

body header > div {
  position: relative; }

body > header nav {
  display: none; }

.header_links {
  display: flex;
  flex-direction: column;
  margin: 0; }
  .header_links a {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px; }

header nav {
  padding: 1rem;
  background-color: #000000;
  position: absolute;
  z-index: 3;
  border-radius: .5rem;
  top: 2%;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 200px; }

body > [type="checkbox"] {
  display: none; }

body > [type="checkbox"]:checked ~ header nav {
  display: block;
  content: '';
  left: 5%;
  top: 0;
  width: 100px;
  height: 500px;
  padding: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-20%) translateY(10%); }

@media (min-width: 1114px) {
  body > header nav {
    padding: 0;
    background: none;
    box-shadow: none;
    transform: none;
    display: block;
    position: relative; }
  header nav {
    width: fit-content;
    height: fit-content; }
  header label {
    visibility: hidden; }
  .header_links {
    flex-direction: row; }
    .header_links li {
      margin-inline-start: 26px; } }

.masthead_wrapper {
  padding-block-start: 31px;
  padding-block-end: 61px; }
  .masthead_wrapper a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    line-height: 24px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

h2 {
  font-family: 'dm-serif-display-400';
  color: #000000;
  font-size: 52px;
  line-height: 64px;
  font-weight: normal;
  margin: 0; }

.article_text {
  font-size: 18px;
  line-height: 32px; }

.big_carve {
  width: 100%;
  border-radius: .5rem; }

li img {
  border-radius: .5rem; }

.image_container {
  display: flex;
  flex-direction: row; }

.photo_details {
  padding-block-start: 92px;
  padding-block-end: 75px; }

.detail_list_container {
  display: grid;
  row-gap: 40px;
  column-gap: 106px; }
  .detail_list_container li:nth-of-type(1) {
    grid-row-start: 1; }
  .detail_list_container li:nth-of-type(2) {
    grid-column-start: 2; }
  .detail_list_container small,
  .detail_list_container p {
    font-size: 16px;
    line-height: 24px; }
  .detail_list_container small {
    color: rgba(0, 0, 0, 0.5); }
  .detail_list_container p {
    color: #000000;
    font-family: 'dm-sans-bold'; }

@media (min-width: 1114px) {
  .photo_details {
    padding-block-start: 89px;
    padding-block-end: 206; } }

.information_section {
  padding-block-end: 106px; }

.carve-information {
  font-size: 18px;
  line-height: 32px;
  color: #000000; }

.experience_information {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  padding-block-start: 31px;
  padding-block-end: 31px; }

@media (min-width: 1114px) {
  .article_information {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .carve_details {
    padding-block-start: 87px;
    padding-block-end: 76px; }
  .beauty_section_text h2 {
    max-width: 457px; }
  .beauty_section_text p {
    max-width: 585px;
    margin: 0;
    padding-block-start: 61px;
    padding-block-end: 69px; } }

.icon_list_container {
  display: flex;
  flex-direction: row; }
  .icon_list_container span {
    display: none; }
  .icon_list_container li:not(:first-child) {
    margin-inline-start: 18px; }
  .icon_list_container li a svg:hover {
    fill: #434CCC; }

:root {
  --btn-padding-vertical-start: 13px;
  --btn-padding-vertical-end: 11px; }

.section_subscribe {
  background-color: #FFDD78; }
  .section_subscribe > div {
    padding-block-start: 63px;
    padding-block-end: 54px; }

.small_heading {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000; }

div.subscribe {
  padding-block-start: 44px; }

@media (min-width: 1114px) {
  .section_subscribe > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calc(218px - 16px); }
  div.subscribe {
    padding-block-start: 132px; }
    div.subscribe ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      div.subscribe ul li:nth-of-type(2) {
        padding-block-start: 8px; } }

:root {
  --btn-padding-vertical-start: 13px;
  --btn-padding-vertical-end: 11px; }

.subscribe_button {
  background-color: #434CCC;
  text-align: center;
  border-radius: 5px;
  width: 170px; }
  .subscribe_button a {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding-block-start: var(--btn-padding-vertical-start);
    padding-block-end: var(--btn-padding-vertical-end);
    display: block; }

@media (min-width: 1114px) {
  .subscribe_button {
    margin-inline-start: 54px;
    margin-block-end: 0; } }

:root {
  --btn-padding-vertical-start: 13px;
  --btn-padding-vertical-end: 11px; }

.email_input {
  display: flex;
  flex-direction: column; }
  .email_input label {
    font-family: 'dm-sans-bold';
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    padding-block-end: 12px; }
  .email_input input {
    background: #ffffff;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 5px;
    padding-inline-start: 16px;
    padding-block-start: var(--btn-padding-vertical-start);
    padding-block-end: var(--btn-padding-vertical-end); }
  .email_input ::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5); }

@media (min-width: 1114px) {
  .email_input input {
    padding-inline-end: 172px; } }
