div.photograph_more_links {
  padding-block-start: 78px;
  padding-block-end: 78px; }
  div.photograph_more_links ul li {
    padding-block-start: 7px; }
    div.photograph_more_links ul li a {
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.5); }
    div.photograph_more_links ul li a:hover {
      color: #000000;
      font-family: 'dm-sans-bold'; }
  div.photograph_more_links ul li:nth-of-type(1) {
    font-family: 'dm-sans-bold';
    padding-block-end: calc(23px - 7px); }
    div.photograph_more_links ul li:nth-of-type(1) a {
      color: #000000; }

@media (min-width: 1114px) {
  div.photograph_more_links {
    padding: 0; }
    div.photograph_more_links li:nth-of-type(1) {
      padding-block-start: 0; } }
