$bg-color-blue: #434CCC;
$section-padding-horizontal: 14px;
$heading-font-family:'dm-serif-display-400';
$default-white-color: #ffffff;
$small-link-font: 16px;
$small-link-height:24px;
$default-black-color:#000000;
@mixin style-container {
    max-width: 1114px;
    margin: auto;
}

@mixin style-anchor {
    text-decoration: none;
}

@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin style-h2 {
    font-family: 'dm-serif-display-400';
    color: #000000;
    font-size: 52px;
    line-height: 64px;
    font-weight: normal;
    margin: 0;
}

@mixin style-paragraph {
    font-size: 18px;
    line-height: 32px;
}

@mixin main-heading {
    font-family: 'dm-serif-display-400';
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    text-transform: uppercase;
}

@mixin gray-paragraph {
    font-size: $small-link-font;
    line-height: $small-link-height;
    color: rgba(0, 0, 0, 0.5);
}